.custom-dialog-container {
  max-width: 400px;
  padding: 20px;
  border-radius: 10px; /* Bordes redondeados */
  background-color: white;
  text-align: center;
}

h1 {
  color: #4e73df;
  font-size: 24px;
  margin-bottom: 15px;
}

.mat-dialog-content {
  font-size: 16px;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  justify-content: center; /* Centramos los botones */
}

.cancel-button,
.accept-button {
  margin: 0 10px; /* Ajustamos el espacio entre los botones */
  background-color: #e71805; /* Color rojo para Cancelar */
  color: white;
  border-radius: 8px; /* Bordes redondeados */
  height: 30px;
  width: 100px;
}

.accept-button {
  background-color: #28a745; /* Color verde para Aceptar */
}
