<div class="container mt-4">
  <h2>Bibliotecas</h2>

  <!-- Formulario para crear/editar una biblioteca -->
  <form [formGroup]="bibliotecaForm" (ngSubmit)="currentBiblioteca._id ? updateBiblioteca(currentBiblioteca._id) : createBiblioteca()" enctype="multipart/form-data">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" class="form-control" formControlName="title" required>
    </div>

    <div class="form-group">
      <label for="descripcion">Description:</label>
      <textarea class="form-control" formControlName="descripcion" required></textarea>
    </div>

    <div class="form-group">
      <label for="imagen">Image:</label>
      <input type="file" accept=".png" (change)="onFileChange($event)" formControlName="imagen" required>
    </div>

    <div class="form-group">
      <label for="fecha">Fecha:</label>
      <input type="date" class="form-control" formControlName="fecha" required>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
  </form>

